<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>

    <p>This is a template for a simple marketing or informational website. It includes a large callout called a
      jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

    <%= form_tag '/find', method: 'get', class: 'form-inline text-center' do %>
        <div class="form-group" style="width: 85%">
          <%= label_tag :search, 'Search', class: 'sr-only' %>
          <%= text_field_tag :search, nil, class: 'form-control', placeholder: 'Search...', style: 'width: 100%' %>
        </div>

        <button type="submit" class="btn btn-success">Search</button>
    <% end %>

  </div>
</div>

<div class="container">
  <% @businesses.each do |business| %>
      <div class="row business-listing">
        <div class="col-xs-2">
          <a href="/establishment/<%= business.id %>">
            <%= image_tag(business.image_url, alt: "Image of #{business.name}") %>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="/establishment/<%= business.id %>"><%= business.name %></a>
        </div>
        <div class="col-xs-6">
          <p class="inline-block">
            <% business.location.display_address.each do |part| %>
                <%= part %> <br>
            <% end %>
          </p>
        </div>
      </div>
  <% end %>

</div> <!-- /container -->