.landing-signup
  .hero-container
    %h2.text-center
      Find, Connect &amp; Worship anywhere in the World!
  .container.container-overlay{style: "margin-bottom: 6rem"}
    .row
      .small-12.columns.text-center
        %p.title.dark{style: "font-size: 2rem"} Sign Up
        %small Sign up with your social account
    .row.social-row
      .small-12.medium-6.columns.text-center.medium-text-right
        = link_to "Sign up with facebook", user_facebook_omniauth_authorize_path(:facebook), class: 'social-button button-facebook'
      .small-12.medium-6.columns.text-center.medium-text-left
        = link_to "Sign up with google", user_google_oauth2_omniauth_authorize_path, class: 'social-button button-google'
    .row.social-row
      .small-12.medium-6.columns.text-center.medium-text-right
        = link_to "Sign up with linkedin", user_linkedin_omniauth_authorize_path, class: 'social-button button-linkedin'
    .row
      .small-12.columns.text-center
        %div.middle-line.text-center
          .line
            %span OR
        %small Sign up with your email and password
        %br/
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, required: true
      .form-actions.text-right
        = f.button :submit, "Sign up"
    .text-right
      = render "devise/shared/links"
