= form_for @contact_info, url: landing_contact_us_path, 
    html: {"data-abide" => " ", novalidate: " "} do |f|
  - if @contact_info.errors.any?
    #error_explanation
      %h2
        = pluralize(@contact_info.errors.count, "error")
        prohibited this form from being submitted:
      %ul
        - @contact_info.errors.full_messages.each do |message|
          %li= message
  .row{style: "margin-top:4rem"}
    .small-12.medium-6.column.text-center.medium-text-left
      = f.text_field :first_name, placeholder: 'First name*', required: true
      %span.form-error
        First name is required
    .small-12.medium-6.column.text-center.medium-text-left
      = f.text_field :last_name, placeholder: 'Last name*', required: true
      %span.form-error
        Last name is required
  .row
    .small-12.medium-6.column.text-center.medium-text-left
      = f.email_field :email, placeholder: 'Email*', required: true
      %span.form-error
        Email is required
    .small-12.medium-6.column.text-center.medium-text-left
      = f.phone_field :phone, placeholder: 'Phone number'
  .row
    .small-12.column.text-center.medium-text-left
      = f.text_area :details, placeholder: 'Type message here...', rows: 8

  .row
    .small-12.column.text-center.medium-text-right
      = f.button 'Submit', type: :submit, value: 'submit'