<li><a href="#"><%= image_tag "landing/icon-facebook.png" %></a></li>
<li><a href="#"><%= image_tag "landing/icon-twitter.png" %></a></li>
<li><a href="#"><%= image_tag "landing/icon-google_plus.png" %></a></li>
<li><a href="#"><%= image_tag "landing/icon-instagram.png" %></a></li>
<li><a href="#"><%= image_tag "landing/icon-youtube.png" %></a></li>
<li><a href="#"><%= image_tag "landing/icon-linkedin.png" %></a></li>

