%ul.list-inline
  %li.social-link
    %a{:href => "#"}= image_tag "landing/icon-facebook.svg"
  %li.social-link
    %a{:href => "#"}= image_tag "landing/icon-twitter.svg"
  %li.social-link
    %a{:href => "#"}= image_tag "landing/icon-google_plus.svg"
  %li.social-link
    %a{:href => "#"}= image_tag "landing/icon-instagram.svg"
  %li.social-link
    %a{:href => "#"}= image_tag "landing/icon-youtube.svg"
  %li.social-link
    %a{:href => "#"}= image_tag "landing/icon-linkedin.svg"
