%li.social-link
  %a{:href => "#"}= image_tag "landing/icon-facebook.png"
%li.social-link
  %a{:href => "#"}= image_tag "landing/icon-twitter.png"
%li.social-link
  %a{:href => "#"}= image_tag "landing/icon-google_plus.png"
%li.social-link
  %a{:href => "#"}= image_tag "landing/icon-instagram.png"
%li.social-link
  %a{:href => "#"}= image_tag "landing/icon-youtube.png"
%li.social-link
  %a{:href => "#"}= image_tag "landing/icon-linkedin.png"
