<div class="landing">

  <div class="container-fluid hero-container">
    <div class="container">
      <div class="jumbotron">
        <ul class="claims list-unstyled">
          <li>
            <span class="big">Find</span>
            <span class="small">new members</span>
          </li>
          <li>
            <span class="big">Connect</span>
            <span class="small">with congregation</span>
          </li>
          <li>
            <span class="big">Worship</span>
            <span class="small">anywhere</span>
          </li>
        </ul>

        <ul class="list-inline pull-right">
          <li><a href="#"><%= image_tag "landing/icon-facebook.png" %></a></li>
          <li><%= image_tag "landing/icon-twitter.png" %></li>
          <li><%= image_tag "landing/icon-google_plus.png" %></li>
          <li><%= image_tag "landing/icon-instagram.png" %></li>
          <li><%= image_tag "landing/icon-youtube.png" %></li>
          <li><%= image_tag "landing/icon-linkedin.png" %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container container-grey">
    <div class="col-xs-5"><%= image_tag "landing/phone-profile.png" %></div>
    <div class="col-xs-7">
      <h2>Extend your church beyond the sanctuary and into the hands of thousands!</h2>

      <strong>YOUR ENTIRE CHURCH RIGHT HERE </strong> <br>
      <p>Your church is so much more than a building. It’s a living breathing organization with so much to showcase.
        With your custom profile on The Fellowship App you can do just that and so much more. </p>

      <strong>WORSHIP ON-DEMAND</strong>
      <p>Worship isn’t just on Sunday or in the confines of the sanctuary. Allow people to stream your live service and
        past sermons whenever they like from anywhere in the world.</p>

      <%= image_tag "landing/Sermons.png" %>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-7">
      <h2>Be found by aspiring worshippers everywhere!</h2>
      <p>Stop spending hundreds or even thousands on ineffective advertising. Place your church directly in the palms of
        people who need you most.</p>

      <div class="row">
        <div class="col-xs-7">
          <strong>SMART FILTERS</strong>
          <p>Every church is unique and we want people to be able to search what makes them special. From denomination
            to service times and amenities we help people find the church that fits them best.</p>

          <strong>SEE WHAT’S IN YOUR AREA. ANYWHERE</strong>
          <p>Find a place to worship close to where you are, wether you have been there for a few years, just moved to a
            new area or are traveling over the weekend. It’s all right in your hand. </p>
        </div>
        <div class="col-xs-5">
          <%= image_tag "landing/phone-filter.png" %>
        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <%= image_tag "landing/phone-map.png" %>
    </div>
  </div>
</div>