<div class="container-fluid hero-container">
  <div class="container">
    <div class="jumbotron">
      <ul class="claims list-unstyled">
        <li>
          <span class="big">Find</span>
          <span class="small">new members</span>
        </li>
        <li>
          <span class="big">Connect</span>
          <span class="small">with congregation</span>
        </li>
        <li>
          <span class="big">Worship</span>
          <span class="small">anywhere</span>
        </li>
      </ul>

      <ul class="list-inline pull-right">
        <li><a href="#"><%= image_tag "landing/icon-facebook.png" %></a></li>
        <li><%= image_tag "landing/icon-twitter.png" %></li>
        <li><%= image_tag "landing/icon-google_plus.png" %></li>
        <li><%= image_tag "landing/icon-instagram.png" %></li>
        <li><%= image_tag "landing/icon-youtube.png" %></li>
        <li><%= image_tag "landing/icon-linkedin.png" %></li>
      </ul>
    </div>
  </div>
</div>
