- unless @staff.image
  %h1
    Add image for #{@staff.name}
- else
  %h1
    Update image for #{@staff.name}
  = image_tag @staff.image.graphic_url, alt: "Image of #{@staff.name}"
  %br/
  %br/
= direct_upload_form_for @uploader do |f|
  = f.file_field :graphic
  = f.submit "Upload Image"
