%h1= @staff.name
%h2= @staff.title
- if @staff.image.processed
  = image_tag @staff.image.graphic_url(:smedium).to_s, alt: "Image of #{@staff.name}"
- else
  %em Processing image...
= @staff.description.html_safe
= link_to 'Edit', edit_staff_path(@staff)
|
= link_to 'Update image', image_staff_url(@staff)
|
= link_to 'Destroy', @staff, method: :delete, data: { confirm: 'Are you sure?' }
|
= link_to "Back to all staff", establishment_staff_index_path(@staff.establishment)
