.landing-signup
  .hero-container
    %h2.text-center
      Find, Connect &amp; Worship anywhere in the World!
  .container.container-overlay{style: "margin-bottom: 6rem"}
    .row
      .small-12.columns.text-center
        %p.title.dark{style: "font-size: 2rem"} Sign In
        %small Sign in with your social account
    .row.social-row
      .small-12.medium-6.columns.text-center.medium-text-right
        = link_to "Sign in with facebook", user_omniauth_authorize_path(:facebook), class: 'social-button button-facebook'
      .small-12.medium-6.columns.text-center.medium-text-left
        = link_to "Sign in with google", user_omniauth_authorize_path(:google_oauth2), class: 'social-button button-google'
    .row.social-row
      .small-12.medium-6.columns.text-center.medium-text-right
        = link_to "Sign in with linkedin", user_omniauth_authorize_path(:linkedin), class: 'social-button button-linkedin'
    .row
      .small-12.columns.text-center
        %div.middle-line.text-center
          .line
            %span OR
        %small Sign in with your email and password
        %br/
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: false
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions.text-right
        = f.button :submit, "Sign in"
    .text-right
      = render "devise/shared/links"
