%li= link_to "Home", landing_index_path
%li= link_to "About", landing_about_path
-# %li= link_to "Pricing", landing_pricing_path
%li= link_to "Contact Us", landing_contact_us_path
-# %li= link_to "Sign Up", landing_sign_up_path
%li 
  - if user_signed_in?
    = link_to 'Sign out', destroy_user_session_path, method: :delete
  - else
    = link_to 'Sign in', new_user_session_path
