= form_for(@establishment) do |f|
  - if @establishment.errors.any?
    #error_explanation
      %h2
        = pluralize(@establishment.errors.count, "error")
        prohibited this establishment from being saved:
      %ul
        - @establishment.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.fields_for :profile_image do |profile_image_form|
      - if @establishment.profile_image.graphic
        = image_tag @establishment.profile_image.graphic_url(:small)
        %br/
      = profile_image_form.label :graphic, "Choose your profile image"
      = profile_image_form.file_field :graphic
      = profile_image_form.hidden_field :graphic_cache
  .field
    = f.fields_for :banner_image do |banner_image_form|
      - if @establishment.banner_image.graphic
        = image_tag @establishment.banner_image.graphic_url(:small)
        %br/
      = banner_image_form.label :graphic, "Choose your banner image"
      = banner_image_form.file_field :graphic
      = banner_image_form.hidden_field :graphic_cache
  .field
    = f.label :description
    = f.cktext_area :description
  = f.fields_for :location do |builder|
    = render 'location_fields', :f => builder
  = f.simple_fields_for :social_link do |slf|
    = render 'social/social_fields', f: slf
  .actions
    = f.submit
