= form_for(@establishment) do |f|
  - if @establishment.errors.any?
    #error_explanation
      %h2
        = pluralize(@establishment.errors.count, "error")
        prohibited this establishment from being saved:
      %ul
        - @establishment.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :leader
    = f.text_field :leader
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :admin_phone
    = f.text_field :admin_phone
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :admin_email
    = f.text_field :admin_email
  .field
    = f.fields_for :profile_image do |profile_image_form|
      - if @establishment.profile_image.graphic
        = image_tag @establishment.profile_image.graphic_url(:small)
        %br/
      = profile_image_form.label :graphic, "Choose your profile image"
      = profile_image_form.file_field :graphic
      = profile_image_form.hidden_field :graphic_cache
  .field
    = f.fields_for :banner_image do |banner_image_form|
      - if @establishment.banner_image.graphic
        = image_tag @establishment.banner_image.graphic_url(:small)
        %br/
      = banner_image_form.label :graphic, "Choose your banner image"
      = banner_image_form.file_field :graphic
      = banner_image_form.hidden_field :graphic_cache
  .field
    = f.label :description
    = f.cktext_area :description
  = f.fields_for :location do |builder|
    = render 'location_fields', :f => builder
  = f.simple_fields_for :social_link do |slf|
    = render 'social/social_fields', f: slf

  .field
    %h4{style: "margin-bottom: 0.625rem"} Church service times
    .duplicatable_nested_form_container
      = f.simple_fields_for :service_times do |st_form|
        .duplicatable_nested_form
          %fieldset
            = st_form.input :service_name
            = st_form.select :day, ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
            = st_form.input :start_time, input_html: {type: 'time'}
            - unless st_form.object.new_record?
              = st_form.input :_destroy, as: :hidden
            .text-right
              = link_to 'Remove', '#', class: 'destroy_nested_form'
      = link_to 'Add service time', '#', class: 'duplicate_nested_form'
    
  .actions
    = f.submit
