.profile-page.establishment-show
  .row.align-center
    .columns.small-12.medium-9
      .row.columns.cover-container
        .banner-image-container
          = react_component "EstablishmentBannerImageContainer"
        .profile-image-container
          = react_component "EstablishmentProfileImageContainer"
        .profile-title
          = @establishment.name
        .cover-header
          .row.align-right
            .columns.small-6.no-pad-right.z-index-10
              .profile-phone
                %i.ci.ci-phone
                %span.phone-text
                  = react_component "EstablishmentPhoneContainer"
            .columns.small-4.medium-2.no-pad-sides.z-index-9
              .hollow.secondary.expanded.button.cover-button
                %i.ci.ci-home.ci-12
                Join 
            .columns.small-4.medium-2.no-pad-sides.z-index-8
              .hollow.secondary.expanded.button.cover-button
                %i.ci.ci-bookmark.ci-12
                Bookmark
            .columns.small-4.medium-2.no-pad-left
              .icon-block
                %i.ci.ci-sharing.ci-32
                %i.ci.ci-messaging.ci-32
                %i.ci.ci-giving.ci-32
      .row
        .columns.small-12.medium-6
          .map-container
            .map-header
              = react_component "EstablishmentLocationContainer"
            = react_component "EstablishmentMapContainer"
          .service-container
            = react_component "EstablishmentServicesContainer"
            
          .widget-container
            = react_component "EstablishmentPhotosContainer"
          .widget-container
            %img{ src: "http://placehold.it/420x350/DDD?text=Giving", width: "100%" }
        .columns.small-12.medium-6
          = react_component "EstablishmentDescriptionContainer"
          .widget-container
            %img{ src: "http://placehold.it/420x200/DDD?text=Members", width: "100%" }
          .widget-container
            %img{ src: "http://placehold.it/420x400/DDD?text=Livestreamers", width: "100%" }
          .widget-container
            %img{ src: "http://placehold.it/420x200/DDD?text=Calendars", width: "100%" }

    .columns.medium-3
      .row.hide-for-small-only.side-ads
        .columns.small-12
          %img{ src: "http://placehold.it/260x180/DDD?text=Ad+goes+here!", width: "100%", height: "100%" }
        .columns.small-12
          %img{ src: "http://placehold.it/260x180/DDD?text=Ad+goes+here!", width: "100%", height: "100%" }
        .columns.small-12
          %img{ src: "http://placehold.it/260x180/DDD?text=Ad+goes+here!", width: "100%", height: "100%" }

      .widget-container
        %img{ src: "http://placehold.it/420x150/DDD?text=Blogs", width: "100%" }

%div
  = render "social/social_link_list"

= link_to 'Staff', establishment_staff_index_path(@establishment)
|
= link_to 'Edit', edit_establishment_path(@establishment)
|
= link_to 'Back', establishments_path
