%p
  %strong Name:
  %br
  = @establishment.name
%p
  %strong Description:
  %br
- if @establishment.description.present?
  = @establishment.description.html_safe
- if @establishment.phone.present?
  %p
    %strong Phone:
    %br
    = @establishment.phone
- if @establishment.admin_phone.present?
  %p
    %strong Admin phone:
    %br
    = @establishment.admin_phone
- if @establishment.email.present? 
  %p
    %strong Email:
    %br
    = @establishment.email
- if @establishment.admin_email.present? 
  %p
    %strong Admin email:
    %br
    = @establishment.admin_email
%p
  %strong Profile Image:
  %br
  - if @establishment.profile_image.processed
    = image_tag @establishment.profile_image.graphic_url(:smedium).to_s, alt: "Profile image of #{@establishment.name}"
  - else
    %em Processing image...
%p
  %strong Banner Image:
  %br
  - if @establishment.banner_image.processed
    = image_tag @establishment.banner_image.graphic_url(:large).to_s, alt: "Banner image of #{@establishment.name}"
  - else
    %em Processing image...

%div
  = render "social/social_link_list"

= link_to 'Staff', establishment_staff_index_path(@establishment)
|
= link_to 'Edit', edit_establishment_path(@establishment)
|
= link_to 'Back', establishments_path
