<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @establishment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @establishment.description.html_safe %>
</p>

<p>
  <strong>Yelp Id:</strong>
  <%= @establishment.yelp_id %>
</p>

<%= link_to 'Edit', edit_establishment_path(@establishment) %> |
<%= link_to 'Back', establishments_path %>
