- unless @parent.image
  %h1
    Add image for #{@parent.name}
- else
  %h1
    Update image for #{@parent.name}
  = image_tag @parent.image.name_url(:smedium), alt: "Image of #{@parent.name}"
  %br/
  %br/
- if @image.errors.any?
  #error_explanation
    %h2
      = pluralize(@image.errors.count, "error")
      prohibited this image from being saved:
    %ul
      - @image.errors.full_messages.each do |msg|
        %li= msg
= direct_upload_form_for @uploader do |f|
  = f.file_field :name
  = f.submit
