!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "The Fellowship App"

    = render 'favicon'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  -# Google places search
  %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_JS_AUTOCOMPLETE']}&libraries=places"}

  -# Initialize foundation after main content loaded
  :javascript
    $(document).on('page:change', function() { $(document).foundation(); });

  -# GA only in production
  - if Rails.env.production?
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44009225-5', 'auto');
      ga('send', 'pageview');


  %body

    -# Alerts and notice flashes
    - if notice
      .success.callout{"data-closable" => ""}
        = notice
        %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
    - if alert
      .alert.callout{"data-closable" => ""}
        = alert
        %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} &times;

    .body
      -# Render the header
      .title-wrapper
        .row.title-row
          .title-bar.small-12.hide-for-large{"data-responsive-toggle" => "dropdown-menu",
                                             "data-hide-for" => "large"}
            .title-bar-left
              %a.title-brand{:href => landing_index_path}= image_tag "logo-short.png"
            .title-bar-right
              %button.menu-icon{type: "button", "data-toggle" => ""}
              %ul#dropdown-menu
                = render 'landing_links'
          #desktop-menu.top-bar.show-for-large.small-12
            .top-bar-left
              %a.title-brand{:href => landing_index_path}= image_tag "logo-short.png"
              = form_tag(landing_search_path, method: :get, class: 'header-search-form') do
                = react_component('ChurchSearchContainer', {})
                = react_component('LocationSearchContainer', {})
            .top-bar-right
              %ul.menu
                = render 'landing_links'

      -# Render the main content
      - unless params[:controller].match /(landing|devise)/
        .row
          .content.small-12.column
            = yield 
      - else
        = yield

      -# Render the footer
      .container.bg-blue.footer
        .row
          .small-12.large-6.text-center.large-text-left
            %ul.menu.footer-links{:style => 'margin-top:25px'}
              = render 'landing_links'
          .small-12.large-6
            = render 'landing/social_links'
        .row{:style => 'padding-top:30px'}
          .small-12.large-6
            %small.copyright 
              Copyright ©
              2015 -
              = Date.today.year
              The Fellowship App. All Rights Reserved.
          .small-12.large-6
            %small.copyright We value your privacy. None of the details supplied will be shared with external parties
