<!DOCTYPE html>
<html>
<head>
  <title>The Fellowship App</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">The Fellowship App</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        <!-- TODO: Add highlighting for the active path -->
        <li><a href="#">Home</a></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container container-main">
  <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
  <% end %>

  <% if alert %>
      <p class="alert alert-warning"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>

<hr>

<div class="container">
  <footer>
    <p>&copy; 2015 The Fellowship App, LLC.</p>
  </footer>
</div>

<% console %>
</body>
</html>
