!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title The Fellowship App
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", :rel => "stylesheet", :type => "text/css"}/

    -# Favicon setup
    %link{:href => image_url("apple-touch-icon-57x57.png"), :rel => "apple-touch-icon-precomposed", :sizes => "57x57"}/
    %link{:href => image_url("apple-touch-icon-114x114.png"), :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => image_url("apple-touch-icon-72x72.png"), :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => image_url("apple-touch-icon-144x144.png"), :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => image_url("apple-touch-icon-60x60.png"), :rel => "apple-touch-icon-precomposed", :sizes => "60x60"}/
    %link{:href => image_url("apple-touch-icon-120x120.png"), :rel => "apple-touch-icon-precomposed", :sizes => "120x120"}/
    %link{:href => image_url("apple-touch-icon-76x76.png"), :rel => "apple-touch-icon-precomposed", :sizes => "76x76"}/
    %link{:href => image_url("apple-touch-icon-152x152.png"), :rel => "apple-touch-icon-precomposed", :sizes => "152x152"}/
    %link{:href => image_url("favicon-196x196.png"), :rel => "icon", :sizes => "196x196", :type => "image/png"}/
    %link{:href => image_url("favicon-96x96.png"), :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => image_url("favicon-32x32.png"), :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => image_url("favicon-16x16.png"), :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => image_url("favicon-128.png"), :rel => "icon", :sizes => "128x128", :type => "image/png"}/
    %meta{:content => "&nbsp;", :name => "application-name"}/
    %meta{:content => "#FFFFFF", :name => "msapplication-TileColor"}/
    %meta{:content => image_url("mstile-144x144.png"), :name => "msapplication-TileImage"}/
    %meta{:content => image_url("mstile-70x70.png"), :name => "msapplication-square70x70logo"}/
    %meta{:content => image_url("mstile-150x150.png"), :name => "msapplication-square150x150logo"}/
    %meta{:content => image_url("mstile-310x150.png"), :name => "msapplication-wide310x150logo"}/
    %meta{:content => image_url("mstile-310x310.png"), :name => "msapplication-square310x310logo"}/
  %body
    %nav.navbar
      .container.navbar-container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}= image_tag "Logo.png"
        #navbar.collapse.navbar-collapse.pull-right
          %ul.nav.navbar-nav
            %li.active= link_to "Home", landing_index_path
            %li= link_to "About", landing_about_path
            %li= link_to "Pricing", landing_pricing_path
            %li= link_to "Contact Us", landing_contact_us_path
            %li= link_to "Sign Up", landing_sign_up_path
        / /.nav-collapse
    .content
      = yield
    / /.container
    .container-fluid.container-blue
      .container.footer
        .row
          .col-xs-6
            %ul.list-inline.footer-links{:style => 'margin-top:25px'}
              %li= link_to "Home", landing_index_path
              %li= link_to "About", landing_about_path
              %li= link_to "Pricing", landing_pricing_path
              %li= link_to "Contact Us", landing_contact_us_path
              %li= link_to "Sign Up", landing_sign_up_path
          .col-xs-6
            %ul.list-inline
              = render 'landing/social_links'
        .row{:style => 'padding-top:30px'}
          .col-xs-6
            %small.copyright Copyright © 2016 The Fellowship App. All Rights Reserved.
          .col-xs-6
            %small.copyright We value your privacy. None of the details supplied will be shared with external parties
